.Nav {
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.description{
    a{
        color: currentColor;
    }
    p{
        padding-left: 0.5em;
    }
}
body {
    margin: 0;
}
::-webkit-scrollbar {
	width: .5rem;
  margin-left: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: .5rem;
	background-color: #0f222d;
}